absl-py==1.2.0
altgraph==0.17.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
asttokens==2.0.5
astunparse==1.6.3
attrs==21.4.0
autopep8==1.6.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.0
boto3==1.25.4
botocore==1.28.4
cachetools==5.2.0
certifi==2022.6.15
cffi==1.15.0
charset-normalizer==2.0.12
chess==1.9.2
clean-text==0.6.0
click==8.1.3
colorama==0.4.5
cycler==0.11.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
demoji==1.1.0
distlib==0.3.6
Django==4.1.1
emoji==1.7.0
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.15.3
filelock==3.8.0
Flask==2.2.2
flatbuffers==1.12
fonttools==4.33.3
freegames==2.4.0
ftfy==6.1.1
future==0.18.2
gast==0.4.0
google-api-core==2.8.2
google-api-python-client==2.51.0
google-auth==2.8.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.56.3
grpcio==1.47.0
h5py==3.7.0
httplib2==0.20.4
idna==3.3
imageio==2.21.1
ipykernel==6.15.0
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.1
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.1.0
jsonschema==4.6.0
jupyter==1.0.0
jupyter-client==7.3.4
jupyter-console==6.4.4
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.3
libclang==14.0.6
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mistune==0.8.4
mysql-connector==2.2.9
mysql-connector-python==8.0.30
nbclient==0.6.4
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.8.4
node==1.0
notebook==6.4.12
npm==0.1.1
numpy==1.22.4
oauthlib==3.2.0
odict==1.9.0
opencv-python==4.6.0.66
opt-einsum==3.3.0
optional-django==0.1.0
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
parso==0.8.3
pefile==2022.5.30
pickle4==0.0.1
pickleshare==0.7.5
Pillow==9.1.1
platformdirs==2.5.3
playsound==1.3.0
plumber==1.7
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==3.19.4
psutil==5.9.1
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pygame==2.1.2
Pygments==2.12.0
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.7
pymeta2==0.0.0
pyparsing==3.0.9
pyrsistent==0.18.1
python-chess==1.999
python-dateutil==2.8.2
PythonTurtle==0.3.2
pytube==12.1.0
pytz==2022.1
PyWavelets==1.3.0
pywin32==304
pywin32-ctypes==0.2.0
pywinpty==2.0.5
pyzmq==23.2.0
qtconsole==5.3.1
QtPy==2.1.0
rapydscript==0.0.2
regex==2022.9.13
requests==2.28.0
requests-oauthlib==1.3.1
rsa==4.8
s3transfer==0.6.0
sacremoses==0.0.53
scikit-image==0.19.3
scikit-learn==1.1.2
scipy==1.8.1
seaborn==0.11.2
Send2Trash==1.8.0
sentencepiece==0.1.97
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
stack-data==0.3.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.15.0
threadpoolctl==3.1.0
tifffile==2022.8.12
tinycss2==1.1.1
tk==0.1.0
toml==0.10.2
tornado==6.1
tqdm==4.64.0
train==0.0.5
traitlets==5.3.0
transformers==2.1.0
typing_extensions==4.3.0
tzdata==2022.2
Unidecode==1.3.4
uritemplate==4.1.1
urllib3==1.26.9
virtualenv==20.16.6
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.2.2
widgetsnbextension==3.6.1
wikipedia==1.4.0
wrapt==1.14.1
youtube-transcript-api==0.5.0
zope.component==5.0.1
zope.deferredimport==4.4
zope.deprecation==4.4.0
zope.event==4.5.0
zope.hookable==5.2
zope.interface==5.4.0
zope.lifecycleevent==4.4
zope.proxy==4.5.1
